name: Workflow CI

on:
  workflow_dispatch: # Manual

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build project
        run: |
          echo "Executando: make all"
          # make all
          echo "Build finalizada."

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Functional testing
        run: |
          echo "Iniciando testes de regressão..."
          echo "Executando: make test"
          
          # if make test returns 1, test fails. If returns 0, test succeeds.
          
          echo "Saída: Todos os testes passaram (Simulado)."